$background-color: #fafaff;
$label-color: #b2b2b3;
$h5-color: #105e82;
$border-color: #dbdbdb;
$pinky-color: #ff556c;
$lightblue-color: #98bbff;
$subject-color: #f2f2f7;
$custom-red-button-color: #ff98a5;
$grid-border-color: #e9e9ec;
$exit-button-color: #5088a3;
$save-button-color: #00537a;
$text-color: #858586;