$background-color: #fafaff;
$label-color: #b2b2b3;
$h5-color: #105e82;
$border-color: #dbdbdb;
$negative-term-number-color: #ff556c;
$positive-term-number-color: #98bbff;
$subject-color: #f2f2f7;
$custom-red-button-color: #ff98a5;